.detail {
  position: fixed;
  top: 50%;
  height: auto;
  width: 60%;
  background: white;
  z-index: 1051;
  transform: translateY(-200%);
  transition: transform 0.3s ease;
}

.detail.active {
  transform: translateY(0);
  max-width: 500px;
  width: 80%;
}